/* Error: Undefined mixin.
 *    ,
 * 10 |         @include shadow-button-focus;
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\utils\_animations.scss 10:9  @import
 *   sass\main.scss 5:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502          @include shadow-button-focus;\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\utils\\_animations.scss 10:9  @import\a   sass\\main.scss 5:9                root stylesheet";
}
