button {
    background-color: $color-primary;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: none;
    @include shadow-button;
   &:hover {
    background:lighten( $color-secondary , $amount: 10);
    cursor: pointer;
}
   }
   .btn{
    grid-row: 4;
    padding:50px;
        @media (min-width: 600px) {
            padding:100px;
        grid-column: 2;
    }
  }
  
