
/*Boutons*/
.btnstyle{
   background-image:linear-gradient(to right,$color-secondary,$color-primary);
    width: 180px;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: none;
    @include shadow-button;
   position:relative;
  z-index: 1;
  transform:scale(1);
 
   &:hover {
    cursor: pointer;
    transform: scale(1.1);
    &::after{
        opacity: 1;
       
           }
 
   }
   &::after{
    content: "";
    cursor: pointer;   
    background-color:lighten($color-primary, $amount: 5) ;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include shadow-button-hover;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms, scale 50ms 150ms;
   
   }
}
   .btn{
    grid-row: 4;
    padding:50px;
    &__menu{
        align-items: center;
        padding:20px;
       align-content: stretch;
        display: flex;
    }
        @media (min-width: 764px) {
    
        grid-column: 2;
    }
   
  }
/*Pastille nouveauté*/
  .new{
    color:green;
    width: 90px;
    height: 40px;
    background-color:$color-tertiary ;
    position:absolute;
   
   z-index: 4;
   top: 20px;
 right: 20px;
  
   @media (min-width: 764px) and(max-width:991px) {
   margin-left: 225px;  }
   @media (min-width:992px) {
    margin-left: 330px;
}
   h2{
       padding-left: 10px;
       padding-top: -20px;
   }
   
  }
  
/*Cartes accueil*/
nav{
    @extend %cardcolumns;
    grid-template-rows: repeat(4,1fr) ;
   
    
    @media (min-width:1024px) {
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    &__card{
        @extend %flexcard;
        width: 100%;
        border-radius: 15px 15px 15px 15px;
        position: relative;
        z-index: 1;
                
         i{
             padding-left: 20px;
             padding-right: 20px;
         }
         h2{
            font-size: map-get($font-size, article);
            padding-right: 20px;
                       
         }
      
     }
    h1{
        @media (min-width: 764px) {
            grid-column: 1/4;
            grid-row: 1;
        } 
    }
 }
 .card__decoration--accueil{
    background-color: #F2F2F2;
    @include shadow-button;
    transition: box-shadow 250ms, scale 50ms 200ms;
    transform: scale(1);
   &:hover {
    cursor: pointer;
    @include shadow-button-hover;
    transform: scale(1.1)}  
   
   

 }
 
  .step{
    @extend %flexcard;
    justify-content: center;
      background-color: $color-primary;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding-bottom:5px;
      margin-left: -20px;
      transition: margin-left 500ms;
      position: absolute;
      z-index: 3;
   
           
      p{
          color:white;
                 
      }
  }
/*Boutons coeur*/
   .heartcontainer{
      
    width: 10x;
    height: 15px;
    align-items: center;
    justify-content: center;
    input{
        opacity: 0;
    }
  
    i{
        opacity: 1;
        position: relative;
        z-index: 1;
        right: 25px;
        font-size: map-get($font-size, heart);
        &:hover{
            opacity: 0;
            color: $color-primary;
        }
          }
  .heart{
    position: absolute;   
    opacity: 0;
    z-index: 3;
    top: 197px;
   right:50px;
    transition: opacity 250ms;
      
        @media (max-width: 768px) {
        left: 311px;
    }
   
    &:hover {
        opacity: 1;
    }
             &::before{
       position: absolute;
       content:"";
       width:10px;
       height: 15px;
       background:linear-gradient($color-secondary,$color-primary);
       border-radius: 10px 10px 0 0;
       transform:rotate(-45deg);
       transform-origin: 0 100%;
            }
   &::after{
    position: absolute;
    content:"";
    width:11px;
    height: 15px;
    background:linear-gradient($color-secondary,$color-primary);
    border-color:$color-primary ;
    border-radius: 10px 10px 0 0;
    left:-10px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  
}
    }

}

.heartcontainer__menu{
      
    width: 10x;
    height: 15px;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
   
  
    i{
        opacity: 1;
        position: relative;
        z-index: 1;
        font-size: map-get($font-size, heart);
        &:hover{
            opacity:0;
            color: $color-primary;
        }
          }
  .heart__menu{
    position: absolute;   
    opacity: 0;
    z-index: 3;
    top: 41px;
    transition: opacity 1000ms;
    left: 353px;
    
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
             &::before{
       position: absolute;
       content:"";
       width:10px;
       height: 15px;
       background-color:$color-primary;
       border-radius: 10px 10px 0 0;
       transform:rotate(-45deg);
       transform-origin: 0 100%;
            }
   &::after{
    position: absolute;
    content:"";
    width:10px;
    height: 15px;
    background-color:$color-primary;
    border-radius: 10px 10px 0 0;
    left:-10px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  
}
    }

}
/*Animation bouton menu*/
.menu__choice--text{
    &:hover > .menu__choice--price{
        transform:translateX(-65px);
            }
            &:hover + .check{
                transform:scaleX(1);
                
                        & > .check__animation{
                            transform: rotate(0deg);
                        }
                            }
}
/*loading spinner*/

.loadingspinner{
 height: 2px;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 1;
 position: relative;
 
    
}
.load{
    display: flex;
    align-items: center;
    justify-content: center;
background-color: $color-footer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
        z-index: 4;
        position: relative;
        top:200px;
        transform:scale(1.5);

p{
    @include shrikhand;
    color:white; 
}
  }