/*map*/
$font-size: (logo:xx-large, article:medium, title:large, body:small, menutext:small,heart:15px);



/*placeholders*/
%flexcard{
    display: flex;
    align-items: center;
   
}
%cardcolumns{
    display:grid;
    grid-template-columns:1fr ;
    height: auto;
    grid-auto-flow: column;
     grid-row-gap: 15px;
    align-items:flex-end;
    justify-items: center;  
}

/*Condition */

@if( lightness($color-footer) < 22% ){$color-text:#ffffff;}

/*Keyframes*/
/*Apparition pagesmenu*/
$menu-dur:1000ms;
$menu-first-delay:50ms;
$menu-second-delay:500ms;
$menu-third-delay:1000ms;
@keyframes menu{
    0%{
        transform:translateY(+35px);
        opacity: 0;
    }

     100%{
        transform:translateY(0);
        opacity: 1;
    }
}
.first{
    animation: menu $menu-dur $menu-first-delay backwards;
    
}
.second{
    animation: menu $menu-dur $menu-second-delay  backwards;
    
}
.third
{
    animation: menu $menu-dur $menu-third-delay  backwards;
 
}
/*loading spinner page d'accueil*/

$step-dur:1000ms;
$step-one-delay:50ms;
$step-two-delay:200ms;
$step-three-delay:150ms;
$step-trans-delay:2400ms;
/*Si mise en place migration des step à leur place*/
$step-trans-dur:600ms;
$step-one-translate:-110px -385px;
    @keyframes step{
        0% {
            transform: scale(0);
            opacity: 0;
        }
        30% {
            transform: scale(1.5);
            opacity: 1;
        }    
        50%{
            transform: scale(1);
            opacity: 1;
        }
        70%{
            transform: scale(0.5); 
            opacity: 0.5;
        }
        
        100%{
            transform:scale(0);
            opacity:0;
        }
    }
    

.stepone{
animation:step $step-dur $step-one-delay 5;
}
.steptwo{
    animation:step $step-dur $step-two-delay 5;
 
}
.stepthree{
    animation:step $step-dur $step-three-delay 5;
 
}