/* coulueurs*/
$color-primary:hsl(267, 66%, 60%);
  $color-secondary:hsl(317, 100%, 74%);
  $color-tertiary:hsl(165, 56%, 74%);
  $color-footer:hsl(210, 4%, 21%);
  $color-text:#000000;
/*delay keyframes menu*/
  $menu-dur:1000ms;
$menu-first-delay:50ms;
$menu-second-delay:500ms;
$menu-third-delay:1000ms;
/*delay et keyframes loading */
$step-dur:1000ms;
$step-one-delay:150ms;
$step-two-delay:425ms;
$step-three-delay:825ms;