
/*Cartes accueil*/
nav{
    @extend %cardcolumns;
    grid-template-rows: repeat(4,1fr) ;
   
    
    @media (min-width:1024px) {
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .nav__card{
        @extend %flexcard;
        width: 100%;
        border-radius: 15px 15px 15px 15px;
   
             
         i{
             padding-left: 20px;
             padding-right: 20px;
         }
         h2{
            font-size: map-get($font-size, article);
            padding-right: 20px;
           
         }
      
     }
    h1{
        @media (min-width: 600px) {
            grid-column: 1/4;
            grid-row: 1;
        } 
    }
 }
 
 /*Groupement de cartes menu*/
.menu__choice{
    @extend %cardcolumns;
    grid-template-rows: repeat(4,1fr) ;  
    width: 90%;
    @media (min-width: 600px) {
      
        grid-row: 3;
    } 
    @media (min-width: 1024px) {
      
        width: auto;
    } 
}
  


 .card__menu{
    justify-content: space-between;
    @extend %flexcard;
width: 100%;
border-radius: 30px 30px 30px 30px;
padding-left: 15px;
padding-right: 15px;

@media (min-width: 600px){
    width: 100%;
}
}
 .card__decoration{
    background-color: #F2F2F2;
    @include shadow-button;
    transition:400ms;
   &:hover {
    cursor: pointer;
    @include shadow-button-hover;    }
    
    
 }
 .card__decoration--white{
    
    background-color: white;
    
 }
.menu__choice--text{
 
    font-size: small;
  
}