/*Entête commune et spécifique accueil/menu*/
header{
    height:100px;
     display: grid;
    grid-template-columns: repeat(5,1fr);
 

   
    /*Header des menus*/
    .menu--header{
        grid-column: 2/5;
        display: flex;
        align-items: baseline;
        justify-content:center;
        height: 100px;
       }
    p {
        grid-column: 3/4;
        @include shrikhand;
        font-size: 35px;
       
    }
       /* Icone flêche*/
    i{
        font-size: 35px;
        padding-right: 15px;
        color: black;
    
    }
 }
/*Présentation de l'entrepisepage d'accueil*/
.presentation{
    padding-bottom: 20px;
    text-align: center;
    align-content: center;
    background-color: #f2f2f2c7;
}
.localisation {
    padding:10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    background-color: #F2F2F2;
    .localisation__element {
        grid-column: 3/4;
        grid-row: 1;
        display: flex;
              
    }
    input{
        padding-left: 10px;
        border: none;
        background-color: #F2F2F2;
    }
    i{
        padding-left: 50px;
    }
}